<header>
   <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../public/logo.jpg" alt="logo" style="height: 4rem;"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav justify-content-around" style="width: 100%;">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="#">Features</a>
                  <a class="nav-link" href="#">Pricing</a>
                  <a class="nav-link disabled">Disabled</a>
                </div>
              </div>
            </div>
          </nav>
</header>
<article>
  <h1>Login de usuario</h1>
  
  <form action="/api/sessions/login" method="POST">
  <div class="mb-3">
    <input type="text" class="form-control" name="email" placeholder="Correo">
    <input type="password" class="form-control" name="password" placeholder="Contraseña">
    <p>Quiero <a href="/static">registrarme</a></p>
  <a href="/reset">Olvidé mi contraseña</a>
  <a href="/auth/github" role="button">Entrar con Github</a>
  </div>  
    <button type="submit" class="btn btn-outline-primary">Entrar</button>
  </form>
  {{#if error }}
    <p>{{error}}</p>
  {{/if}}
</article>